@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 100%;

}

main {
  display: flex;
  flex-flow: column wrap;
}

section {
  position: sticky;
  bottom: 0;
  padding: 1rem;
  text-align: center;
  background-color: aliceblue;
}

footer {
  text-align: center;
}

.App {
  margin: 2px;
}

header {
  font-size: large;
  font-weight: 800;
  text-align: center;
  padding: 10px;
  margin: 0;  
  background-color: lightgrey;
  position: sticky;
  top: 0;
}

.search-bar {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #979797;
  border-radius: 3px;
  width: 100%;
}

input {
  width: 20em;
  border-radius: 5px;
}

.main-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
}

li {
  width: 40%;
  height: 20rem;
  margin: 3rem 1rem;
  padding: 1rem;
  border: 1px solid black;
}

button {
  border: 1px solid var(--primary-color);
  background-color: whitesmoke;
  border-radius: 30px;
  color: var(--primary-color);
  font-size: 16px;
  padding: 9px 36px;
  height: fit-content;
  cursor: pointer;
}

@media (max-width: 767px) {
  input {
      width: 10em;
  }
  .main-container {
    flex-flow: column; 
  }
  li {
    width: 80%;
    }
}


